<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <nav class="nav flex-column " id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <div *ngIf="nfolder.length>0">
        <div *ngFor="let folder of nfolder"> 
            <a class="nav-link dropdown dropdown-toggle active"  data-toggle="dropdown" href="#" role="button">{{folder.foldername}}</a>
            <div class="dropdown-menu">
                <a *ngFor="let file of folder.files"class="dropdown-item" href="#" id="file.id">{{ file.filename}}</a>
              </div>
            </div>
        </div>
        <a class="nav-link active" id="v-pills-home-tab"  href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
      </nav>
      
    </div>
    <div class="col-10">
     <div class="container-fluid" style="padding:10px">
      <div class="container-fluid paragraph" style="margin:5px;border:2px solid black">
        <div class="row"style="padding:5px"></div>
        <div class="row" style="padding:5px;width: 100%">
          <textarea ></textarea>
        </div>
        <div class="row" style="padding:5px">
          <p>
            jhkshldf;sjdjf;rjfdodhghrdgpfhvfojlgjdfjdljlgdfjlgjd
            dhfhkdfhkdhkdhkfhgkdhfkhdkhvgkdfdg
            dfhkhdfkhkdfkljfdljlfdj
          </p>
        </div>
      </div>

     </div>
    </div>
  </div>
</div>